
<% if user_signed_in? %>
<div class="d-flex justify-content-center">
<img src="http://www.runnymedecollegiate.com/wp-content/uploads/2018/01/welcome.jpg" alt="welcome" height="200">
</div>
<% else %>
  <div class="d-flex justify-content-center">
  <br />
  <img src="https://leaptest.com/wp-content/uploads/2017/07/remote.png" alt="welcome" height="200">
  </div
  <br />
<% end %>
