<div class="fixed-bottom">
  <ul class="nav d-flex justify-content-around">
      <li class="nav-item">
        <a class="btn btn-dark" href="#">Team BDX</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-light" href="https://github.com/DaTikh">@bab</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-light" href="https://github.com/iMassim0">@massimo</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-warning" href="#">Help</a>
      </li>
  </ul>
</div>
