<div class="fixed-bottom">
  <ul class="nav d-flex justify-content-around">
      <li class="nav-item">
        <a class="btn btn-dark" href="#">Team BDX</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-info" href="#">@bab</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-info" href="#">@massimo</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-dark" href="#">Help</a>
      </li>
  </ul>
</div>
